name: notify-website

on: 
  push:

jobs:
  build:
      runs-on: ubuntu-latest
      steps:
          - name: Notify
            uses: convictional/trigger-workflow-and-wait@v1.3.0
            with:
              owner: 6aravind
              repo: raravind-website
              ref: main
              github_token: ${{ secrets.PERSONAL_WEBSITE_ACCESS_TOKEN }}
              workflow-file-name: get-latest-blogs.yaml
