name: notify-website

on: 
  push:
      branches:
            - main

jobs:
  build:
      runs-on: ubuntu-latest
      steps:
          - name: Notify
            uses: convictional/trigger-workflow-and-wait@v1.3.0
            with:
              owner: 6aravind
              repo: raravind-website
              github_token: ${{ secrets.PERSONAL_WEBSITE_ACCESS_TOKEN }}
              workflow_file_name: get-latest-blogs.yaml
